<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <div class="text-center top-text-wrap">
        <h2>
          お笑いびよりへようこそ！
        </h2>
        <p>このサイトではみなさんが面白いと思った１シーンを共有できます。<br/>
          あなたの趣味や日常を世界に発信してみませんか？
        </p>
      </div>

      <% unless user_signed_in? %>
        <div class="text-center">
          <%= link_to "新規登録" ,new_user_registration_path, data: {"turbolinks"=> false}, :style=>"width:27%;", class:"btn-outline-info btn mt-3 mx-auto font-weight-bold"; %>
          <%= link_to "ログイン" ,new_user_session_path, data: {"turbolinks"=> false}, :style=>"width:27%;", class:"btn-outline-info btn mt-3 mx-auto font-weight-bold"; %>
      <% end %>

       <h5 class="border-bottom border-gray mt-5 font-weight-bold text-center">
          <i class="fas fa-camera"></i> Pick Up!
        </h5>

        <% if user_signed_in? %>
          <% @posts.each do |post| %>
            <article class="mt-5 shadow-lg mx-auto pb-1">
              <%= link_to attachment_image_tag(post, :post_image, fallback: "no-image.jpg", class: "card-img-top card-img-lg"),  post_path(post)%>

              <h2 class="font-weight-bold m-3 text-center">
                <%= link_to truncate(post.title, length: 8), post_path(post.id) %>
              </h2>

              <nav class="navbar-expand border-bottom border-gray m-3">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ml-4 h5">
                    <%= link_to post.user.name, user_path(post.user.id), class: "fas fa-user" %>
                  </li>

                  <li class="nav-item ml-4 h5">
                    <%= link_to post.post_comments.count, post_path(post.id), class: "fas fa-comment" %>
                  </li>

                  <li class="nav-item ml-4 h5 favorite-btn_<%= post.id %>">
                    <%= render "favorites/favorite-btn", post: post %>
                  </li>
                </ul>
              </nav>
            </article>
          <% end %>
        <% else %>
          <p class="text-center">
           ※ログイン前は機能が制限されます。
          </p>
          <div>
            <% @posts.each do |post| %>
              <article class="mt-5 shadow-lg">
                <%= link_to attachment_image_tag(post, :post_image, fallback: "no-image.jpg", size:"500x450", class: "d-block mx-auto"),  new_user_registration_path %>

                <h2 class="font-weight-bold m-3 text-center">
                  <%= link_to truncate(post.title, length: 8), new_user_registration_path %>
                </h2>

                <nav class="navbar-expand border-bottom border-gray m-3">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-4 h5">
                      <%= link_to post.user.name, new_user_registration_path, class: "fas fa-user" %>
                    </li>

                    <li class="nav-item ml-4 h5">
                      <%= link_to post.post_comments.count, new_user_registration_path, class: "fas fa-comment" %>
                    </li>

                    <li class="nav-item ml-4 h5 ">
                      <%= link_to post.favorites.count, new_user_registration_path, class: "fas fa-thumbs-up no-underline"%>
                    </li>
                  </ul>
                </nav>
              </article>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>





