<div class="topic">
  <div class="container">
    <h1 class="mt-4 topic-font">投稿詳細</h1>
  </div>
</div>

<div class="container">
  <div class="mt-5">
    <div class="row">
      <div class="col-md-4">
        <%= attachment_image_tag @post, :post_image, fallback: "no-image.jpg", size:"250x250", class: "" %>
      </div>
      <div class="col-md-8 pr-0">
        <div class="row">
          <div class="col-md-4">
            <h2><%= @post.title %></h2>
          </div>
          <% if @post.user_id == current_user.id %>
            <div class="col-md-3">
              <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-shadow btn-lg d-block mx-auto" %>
            </div>
            <dev class="col-md-3">
              <%= link_to "削除", post_path(@post), class: "btn btn-primary btn-shadow btn-lg d-block mx-auto", method: :delete %>
            </dev>
          <% end %>
        </div>
        <div class="mt-4 mr-5"><%= @post.post_content %></div>
      </div>
    </div>
    <hr>
    <div class="m-2 favorite-btn_<%= @post.id %>"><%= render "favorites/favorite-btn", post: @post %></div>
    <div class="m-2 post-time"><%= time_ago_in_words(@post.created_at).upcase %>前</div>
    <hr>
    <div class="comments">
      <%= render "post_comments/comments", post: @post %>
    </div>
    <div class="new-comment">
      <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
        <%= f.text_field :comment, class: "form-control", placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>