<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 mx-auto">
      <% if @post.user_id == current_user.id %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-shadow btn-sm d-block mx-auto" %>
        <%= link_to "削除", post_path(@post), class: "btn btn-primary btn-shadow btn-sm d-block mx-auto", method: :delete %>
      <% end %>

      <article class="mt-4 shadow-lg">
        <%= attachment_image_tag @post, :post_image, fallback: "no-image.jpg", class: "card-img-top card-img-lg" %>
        <h2 class="border-bottom border-gray font-weight-bold m-3 text-center">
          <%= @post.title %>
        </h2>

        <h5 class="border-bottom border-gray font-weight-bold m-3 text-center">
          <%= @post.post_content %>
        </h5>

        <nav class="navbar-expand border-bottom border-gray m-3">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-4 h5">
              <%= link_to @post.user.name, user_path(@post.user.id), class: "fas fa-user" %>
            </li>

            <li class="nav-item ml-4 h5 favorite-btn_<%= @post.id %>">
              <%= render "favorites/favorite-btn", post: @post %>
            </li>
          </ul>
        </nav>

        <div class="m-3 comments">
          <%= render "post_comments/comments", post: @post %>
        </div>

        <div class="new-comment">
          <%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
            <%= f.text_field :comment, rows:'4', class: "mt-2 w-100", placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class: "mt-2 btn btn-info btn-block w-100" %>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>