<div class="topic">
  <div class="container">
    <h1 class="mt-4 topic-font">投稿詳細</h1>
  </div>
</div>

<div class="container">
  <div class="mt-5">
    <div class="row">
      <div class="col-md-4">
        <%= attachment_image_tag @post, :post_image, fallback: "no-image.jpg", size:"250x250", class: "" %>
      </div>
      <div class="col-md-8 pr-0">
        <div class="row">
          <div class="col-md-4">
            <h2><%= @post.title %></h2>
          </div>
          <% if @post.user_id == current_user.id %>
            <div class="col-md-3">
              <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-shadow btn-lg d-block mx-auto" %>
            </div>
            <dev class="col-md-3">
              <%= link_to "削除", post_path(@post), class: "btn btn-primary btn-shadow btn-lg d-block mx-auto", method: :delete %>
            </dev>
          <% end %>
        </div>
        <div class="mt-4 mr-5"><%= @post.post_content %></div>
      </div>
    </div>
    <div class="row">
      <div class="comments">
      <!--<div>コメント件数：<%#= @post.post_comments.count %></div>-->
        <% @post.post_comments.each do |post_comment| %>
          <%#= link_to attachment_image_tag(user, :profile_image, fallback: "no-image.jpg", size:"100x100", class: "d-block mx-auto rounded-circle"), user_path(user) %>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% if post_comment.user == current_user %>
          <div class="comment-delete">
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="new-comment">
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>